
.card{
    /* border:2px solid green; */
    width:400px;
    height: 300px;
    background-color: rgb(122, 231, 162);
    padding: 50px;
    margin:10px auto;
    padding-top: 100px;
    border-radius: 20px;
}
h1{
    width:50%
}
button{
    padding: 10px;
    border-radius: 30px;
    border:none;
    width:250px;
    font-weight: 800;
}